{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}



    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>

    <h3>Comments</h3>
    {% for comment in comments %}

        {% include'comments.html.twig'with{'comment': comment} %}

    {% else %}
        No comments yet.
    {% endfor %}
    <div id="form-comment">
    <h3>Ajouter un commentaire</h3>

    {% if commentForm %}
        {{ form_start(commentForm)  }}
            <div class="form-group">
                <input type="hidden" name="parent_id" id="parent_id" value="0">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr': {
                'row' : '4',
                'class': 'form-control',
                'placeholder': 'Enter your comment'
            }}) }}

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier le commentaire" />

            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

         {% else %}
        <a href="{{ path('login') }}">Log in</a> to add comments.
    {% endif %}
    </div>

    <div id="form-subComment">
<!--  -->





    </div>



{% endblock %}