<div class= "panel panel-default" id="comment-{{ comment.id }}">
	<div class="panel-body">

		{{ comment.content }}<br />
		<!--{{dump(comment.depth)}}
		{{dump(comment.parentId)}}
		{{dump(comment.Id)}} -->



		{% if comment.depth <= 2 %}
		<button class ="btn btn-default reply"  data-id = "{{ comment.id }}" >Répondre</button>
		{% endif %}
		<button class ="btn btn-danger signaler" id= "signaler" data-id = "{{ comment.id }}">signaler</button>



	</div>
</div>

<div style="margin-left:50px">

	{% if comment.childrens is defined %}
		{% for comment in comment.childrens %}

			{% include 'comments.html.twig' with {'comment': comment} %}

		{% endfor %}
	{% endif %}
</div>